/* 


.border_design{
	margin:0px;
	padding:0px;
	box-sizing: border-box;	
}


   #pdf,#pdfheading,#pdfdata{
            border:1px solid #f35b09;
            text-align: center;
        }
        #pdf.widthhh {
    width: 50%;
    margin:auto;
}
th.thhh {
    font-size: 25px;
}
th.thhh {
    background-color: #f35b09;
    color:white;
} */